body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#listeTaches {
  list-style: none;
  padding: 0;
}

.tache-terminee {
  text-decoration: line-through;
  color: gray;
}